* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}


.mainHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    font-weight: 30px;
    background-color: rgba(0, 0, 0, 0.778);
    
}

.navigasi-mm{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-size: 500;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
}
.navigasi-mm a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-size: 500;
    font-weight: 500;
    margin-left: 90px;
    text-decoration: none;
}

.profil {
    position: absolute; /* Allow precise positioning */
    top: 20px; /* Adjust the vertical position */
    right: 20px; /* Adjust the horizontal position */
    color: white; /* Ensure the text/icon is visible */
    font-size: 1.5em; /* Adjust the size if necessary */
    text-decoration: none; /* Remove underline from the link */
    z-index: 100; /* Ensure it appears above other elements */
}
.title {
    display: flex;
    justify-content: center;
 
    margin-bottom: 10px;
    color: black;
    font-size: 130px;
    font-weight: bold;
    text-align: left; /* Aligns the text to the left */
}
.upper-page {
    
    padding-top: 50px; /* Add horizontal padding */
}
.image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notif-container{
    justify-self: right;
}

.box-notif-acc{
   
    height: 110px;
    width: 900px;
    margin: 10px;
    background: rgb(215, 247, 215);
    border: 2px solid rgb(241, 234, 234);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border-color: rgb(142, 236, 142);
    display: flex;
    justify-content: center;
    align-self: center;
    justify-content: space-between;
    
}
.notif-ev{
    justify-content: flex-end;
    width: 200px;
    font-weight: bold;
    font-size: 30px;
    text-align: right;
    color: green;

}
h6{
    justify-content: flex-end;
    text-align: end;
    
}

.box-notif-den{
    height: 110px;
    width: 900px;
    margin: 10px;
    background: rgb(247, 215, 215);
    border: 2px solid rgb(241, 234, 234);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border-color: rgb(236, 142, 142);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-notif-pend{
    height: 110px;
    width: 900px;
    margin: 10px;
    background: rgb(250, 242, 193);
    border: 2px solid rgb(241, 234, 234);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border-color: rgb(236, 206, 142);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-notif-meet{
    height: 110px;
    width: 900px;
    margin: 10px;
    background: rgb(193, 224, 250);
    border: 2px solid rgb(241, 234, 234);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border-color: rgb(142, 195, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}